@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 a {
   text-decoration: none;
 }
 ul {
   list-style: none;
 }
#container {
  margin:0 auto;
  width: 1500px;
}
header{
   width: 100%;
   height: 100px;
   background-color: #07c;
 }
#logo {
  float: left;
  width: 250px;
  height: 100px;
  line-height: 100px;
  padding-left: 20px;
}
#logo h1 {
  font-family: 'Do Hyeon', sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: #fff;
  text-shadow: 0 -1px 0 #222;
}
nav {
  float: right;
  width: 900px;
  height: 100px;
  padding-top: 40px;
}
#topmenu {
  height: 60px;
}
#topmenu > li {
  float: left;
  position: relative;
}
#topmenu > li > a {
   display: block;
   color: #fff;
   font-weight: 600;
   text-shadow: 0 1px #07c;
   padding: 20px 60px;
}
#topmenu > li > a > span {
  font-size: 0.5em;
}
#topmenu > li > a:hover {
  color: #000;
  text-shadow: 0 -1px #07c;
}
#topmenu > li > ul {
  display: none;
  position: absolute;
  width: 160px;
  background-color: rgba(255, 255, 255, 0.6); /* 배경 투명*/
  left: 20px;
  margin: 0;
}
#topmenu >li>ul>li {
  padding: 10px 10px 10px 30px;
}
#topmenu > li > ul > li > a {
  font-size: 14px;
  padding: 10px;
  color: #000;
}
#topmenu >li:hover >ul  {
  display: block;
  z-index: 10;
}
#topmenu >li > ul > li> a:hover {
  color: #f00;
}
#slideshow {
  clear: both; /*플로팅 해제*/
  width: 100%;
  height: 500px;
  overflow: hidden; /*영역 넘치면 감추기*/
  position:relative;
}
#slides {
  position: absolute;
}
#slides >img {
  width: 150%;
  float: left;
}
button {
  position: absolute;
  height: 100%;
  top: 0;
  border: none;
  padding: 20px;
  background-color: transparent; /*투명한 배경*/
  color: #000;
  font-weight: 800;
  font-size: 24px;
  opacity: 0.5; /*투명도*/
}
#prev {
  left: 0;
}
#next {
  right: -300px;
}
button:hover {
  background-color: #222; /*회색*/
  color: #fff;
  opacity: 0.6;
  cursor: pointer;
}
button:focus {
  outline: 0;
}
#contents {
  width: 100%;
  height: 300px;
  margin-top: 20px;
}
#tabMenu{
  float: left;
  width: 600px;
  height: 100%;
  margin-top: 10px;
}
#tabMenu input[type="radio"] {
  display: none;
}
#tabMenu label {
  display: inline-block;
  margin: 0 0;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #aaa;
  border: 1px solid transparent;
}
#tabMenu label:hover {
  color: #222;
  cursor: pointer;
}
#tabMenu input:checked + label {
  color: #b00;
  border: 1px solid #ddd;
  background-color: #eee;
}
.tabContent {
   display: none;
   padding: 20px 0 0;
   border-top: 1px solid #ddd;
 }
.tabContent h2 {
   display: none;
 }
 #notice ul {
   list-style: disc;
   margin-left: 30px;
 }
 #notice ul li {
  font-size: 16px;
  line-height: 2.5;
 }
 #gallery ul li {
   display: inline;
 }
 #tab1:checked ~ #notice,        /*가상선택자 ~ 형제선택, (~ = 연결)*/
 #tab2:checked ~ #gallery {
   display: block;
 }
#links {
  float: right;
  width: 600px;
  height: 100%;
  margin-top: 15px;
}
#links ul {
  padding: 0;
  overflow: hidden;     /*넘치는 항목 감춤*/
}
#links ul li {
  float: left;
  width: 33%;
  text-align: center;
  margin: 10px 0;
}
#links ul li a span {
  display: block;
  margin: 0 auto;
  width: 150px;
  height: 150px;                    /*원형 만들기*/
  border-radius: 100%;
  border: 1px solid #ddd;
  line-height: 150px;
}
#quick-icon1 {
  background-image: url('../site/images/icon-1.jpg');
}
#quick-icon2 {
  background-image: url('../site/images/icon-2.jpg');
}
#quick-icon3 {
  background-image: url('../site/images/icon-3.jpg');
}
#links ul li a p {
   margin-top: 15px;
   font-weight: 600;
   color: #666;
}
footer {
  width: 100%;
  height: 100px;
  border-top: 2px solid #222;
}
#bottomMenu{
  width: 100%;
  height: 20px;
  position: relative;
}
#bottomMenu ul {
  margin-top:  15px;
}
#bottomMenu ul li {
  float: left;
  padding: 5px 20px;
  border-right: 1px solid #ddd;
}
#bottomMenu ul li:last-child {
  border-right: none;               /*마지막 항목엔 오른쪽세로선 없음*/
}
#bottomMenu ul li a, #bottomMenu ul li a:visited  {
  font-size: 15px;
  color: #666;
}
#sns {
  position: absolute;
  right: 0;             /* 포지션 설정 후 0은 오른쪽 끝으로 배치*/
}                       /* 포지션 설정 위해 absolute, 모집단 찾아서 relative설정 필수*/
#sns ul li {
  border: none;
  padding: 5px;
}
#company {
  clear: left;   /*플로팅 해제, both도 가능*/
  margin-top: 25px;
  margin-left: 20px;
}
p{
  font-size:  14px;
  color: #aaa;
}
